#error-field, #quiz-container, #results-container {
  display: none;
}

#quiz-header{
  font-size: 2em;
  margin-bottom: 0;
}

#quiz-header .black{
  font-weight: 600;
}

#quiz-header .red{
  font-style: italic;
  color: #BE1E3A;
}

.header-underline{
  height: 1px;
  width: 100%;
}

#questionnaire{
  margin-top: 40px;
  margin-left: 25px;
}

#quiz-status{
  color: #A9ADAC;
}

#question-text{
  text-transform: uppercase;
  font-size: 1.5em;
}

#choices{
  margin-top: 10px;
}

#choices .choice input{
  margin: 0 6px 0 10px;
}

#choices .choice{
  display: block;
  margin: 0;
  background-color: #F1F1F1;
  font-size: 1.2em;
  font-weight: 400;
  padding: 5px;
}

#choices .choice:nth-of-type(even){
  background-color: #FAFAFA;
}

#choices .choice:hover{
  background-color: #DEDEDE;
}

.quiz-button{
  margin: 15px 10px 10px 50px;
  width: 50px;
  height: 35px;
  background-color: #d22341;
  border-radius: 2px;
}

.quiz-button:hover{
  background-color: #b01732;
}


.right-arrow{
  background: url("../img/arrow-right-white.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 13px;
  margin-top: 11px;
  margin-left: 13px;
  width: 24px;
}


#error-field{
  color: red;
  margin-left: 50px;
}

.heading{
  text-transform: uppercase;
}

#results-section{
  background-color: #F5F5F5;
  padding: 20px 10px;
}

#cta-section{
  margin-top: 20px;
  color: #7D7D7D;
  font-size: 1.1em;
}

#results-section .heading{
  color: #BE1F3B;
}

#cta-section .heading{
  font-size: 1.2em;
}

#results-section .result,
#cta-section .message{
  margin: 5px 0 10px 0;
}

#results-section .result{
  font-size: 1.5em;
}

#cta-section .message{
  color: #898989;
}

#cta-section .message a{
  color: #7D7D7D;
  font-weight: bold;
  text-decoration: underline;
}
.check-button{
  margin-top: 35px;
}

.multunus-link{
  border: 2px solid #BE1F3B;
  color: #BE1F3B;
  padding: 12px;
  border-radius: 5px;
  font-size: 1.2em;
  background-color: white;
}

.multunus-link:hover{
  color: #b01732;
}

.multunus-link:visited{
  color: #b01732;
}
