#error-field, #quiz-container, #results-container {
  display: none;
}

#questionnaire{
  margin-top: 40px;
}

#question-text{
  font-weight: 600;
}

#choices .choice input{
  margin-right: 4px;
}

#choices .choice{
  display: block;
  line-height: 2em;
  font-size: 1.2em;
  font-weight: 400;
}
